body {
    margin: 0 auto;
    background: #fffcfa;
    position: relative;
    z-index: auto;
}

h1, h2, h3, h4, p, a, button, ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Header */

.header {
    width: 100%;
    background: coral;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.header_container {
    max-width: 1410px;
    min-height: 84px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search {
    width: 40%;
    min-height: 44px;
    margin: 0 15px;
    background: #fffcfa;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search-input {
    width: 85%;
    margin-left: 20px;
    background: transparent;
    border: none;
}

.header_search-input::placeholder {
    color: #49ba79;
}

.header_search-button {
    margin-right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    transition: 0.3s;
}

.header_search-button:hover {
    filter: brightness(1.1);
}

.header_search-button:active {
    filter: brightness(1.2);
}

.header_nav-ul {
    display: flex;
}

.header_nav-li {
    margin-right: 35px;
}

.header_nav-li-a, .header_nav-li-a:visited {
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    text-decoration: none;
    transition: 0.3s;
}

.header_nav-li-a:hover {
    color: #33da7a
}

.header_nav-li-a:active {
    color: #8dffbc;
    transition: 0.1ms;
}

.header_button-button {    
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #fffcfa;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    transition: 0.3s;
}

.header_button-button:hover {
    border: 1px solid #33da7a;
    color: #33da7a;
}

.header_button-button:active {
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

/* Section-1 */

.section-1 {
    background: #f77757;
    z-index: 5;
}

.section-1_container {
    max-width: 1410px;
    min-height: 610px;
    padding: 160px 15px 0 15px;
    margin: 0 auto;
}

.offer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: auto;
}

.offer_text-wrap {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.offer_text {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.offer_text-title {
    padding-top: 55px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #fffcfa;
}

.offer_text-title_discount {
    font-size: 105px;
    font-weight: 600;
    text-shadow: 0px 0px 15px #ffb70050;
    position: absolute;
    right: 0;
}

@supports (-webkit-text-stroke: 3px #ffb500) {
    .offer_text-title_discount {
      -webkit-text-stroke: 3px #ffb500;
      -webkit-text-fill-color: transparent;
    }
}

.offer_text-descr {
    max-width: 341px;
    margin: 25px 0 38px 0;
    font-size: 18px;
    line-height: 22px;
    color: #fffcfa;
}

.offer_button-button {   
    min-width: 200px;
    min-height: 56px; 
    background: #49ba79;
    border: 1px solid #49ba79;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    transition: 0.3s;
}

.offer_button-button:hover {
    background: transparent;
    border: 1px solid #33da7a;
    color: #33da7a;
}

.offer_button-button:active {
    background: #8dffbd2c;
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

.offer_img {
    width: 40%;
    z-index: 5;
}

/* Section-2 */

.section-2 {
    z-index: 5;
}

.section-2_container {
    max-width: 1410px;
    min-height: 970px;
    padding: 50px 15px 0 15px;
    margin: 0 auto;
}

.why_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;    
    margin-bottom: 60px;
}

.why-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: auto;
}

.why_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}

.why_text_item {
    max-width: 350px;
    padding-left: 33px;
    padding-bottom: 60px;
    position: relative;
    z-index: auto;
}

.why_text_item-title {
    padding: 40px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

.why_text_item-body {
    font-size: 18px;
    line-height: 22px;
    z-index: 10;
}

.why_text_item-num {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.why_circles {
    width: 60%;
    position: relative;
    z-index: 5;
}

.why_circles-item_img {
    border-radius: 50%;
}

.why_circles-item-1, 
.why_circles-item-2, 
.why_circles-item-3,
.why_circles-item-4,
.why_circles-item-5 {
    position: absolute;
}

.why_circles-item-1 {
    top: 0%;
    left: 20%;
}

.why_circles-item-2 {
    left: 43%;
    top: 2%;
}

.why_circles-item-3 {
    left: 8%;
    top: 29%;
}

.why_circles-item-4 {
    left: 50%;
    top: 43%
}

.why_circles-item-5 {
    left: 19%;
    top: 76%
}

/* Sec-3 */ 

.section-3 {
    background: #fff;
    z-index: 5;
}

.section-3_container {
    max-width: 1410px;
    min-height: 213px;
    padding: 0 15px;
    margin: 0 auto;
}

.mailing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailing_text {
    width: 62%;
    display: flex;
    justify-content: flex-end;
}

.mailing_text-title {
    max-width: 800px;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    padding-right: 40px;
}

.mailing_button-button {   
    min-width: 237px;
    min-height: 52px; 
    background: #49ba79;
    border: 1px solid #49ba79;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    transition: 0.3s;
}

.mailing_button-button:hover {
    background: transparent;
    border: 1px solid #33da7a;
    color: #33da7a;
}

.mailing_button-button:active {
    background: #8dffbd2c;
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

/* Sec-4 */ 

.section-4 {
    z-index: 5;
}

.section-4_container {
    max-width: 1410px;
    min-height: 710px;
    padding: 0 15px;
    margin: 0 auto;
}

.teachers_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-top: 73px;
    margin-bottom: 65px;
}

.teachers-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teachers_card {
    width: 40%;
    display: flex;
    justify-content: center;
}

.teachers_card_img-img {
    border-radius: 50%;
}

.teachers_card_cred {
    max-width: 260px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.teachers_card-3, .teachers_card-4 {
    margin-top: 84px;
}

.teachers_card_cred-name {
    font-size: 21px;
    font-weight: 700;
    color: #49ba79;
    margin-bottom: 5px;
}

.teachers_card_cred-exp {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.teachers_card_cred-body {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.3px;
    margin-bottom: 12px;
}

.teachers_card_socials-item {
    font-size: 24px;
    color: #49ba79;
    margin-right: 18px;
}

/* Sec-5 */ 

.section-5 {
    z-index: 5;
}

.section-5_container {
    max-width: 1200px;
    min-height: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

.works_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}

.works-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: auto;
}

.works_item {
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.works_item-img {
    transition: 0.5s;
}

.works_item-cred {
    min-height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
}

.works_item-cred_img {
    margin-left: 25px;
}

.works_item-cred_img-img {
    border-radius: 50%;
}

.works_item-cred_text {
    margin-left: 15px;
}

.works_item-cred_text-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.works_item-cred_text-pupil_dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
    margin: 5px;
}

.works_item-cred_text-pupil {
    font-size: 18px;
    font-weight: 400;
}

/* Owl Carousel */ 

.center .works_item {
    width: 400px;
    height: 603px;
}

.works-wrap .center .works_item-img {
    width: 400px;
    height: 493px;
    margin-top: 0;
}

.active .works_item-img {
    margin-top: 30px;
}




.works-wrap .owl-nav {
    width: 110%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}

.owl-prev span, .owl-next span {
    font-size: 120px;
    color: #49ba79;
    transition: 0.3s;
}

.owl-prev span:hover, .owl-next span:hover {
    font-size: 140px;
    filter: brightness(1.1);
}

.owl-prev span:active, .owl-next span:active {
    font-size: 140px;
    filter: brightness(1.2);
}


