body {
    margin: 0 auto;
    position: relative;
    z-index: auto;
    overflow-x: hidden;
}

h1, h2, h3, h4, p, a, button, input, ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.header_container {
    max-width: 1350px;
    min-height: 84px;
    padding: 0 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    z-index: 50;
}

.header_search {
    width: 40%;
    min-height: 44px;
    margin: 0 15px;
    background: #fffcfa;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search-input {
    width: 85%;
    margin-left: 20px;
    background: transparent;
    border: none;
}

.header_search-input::placeholder {
    color: #49ba79;
}

.header_search-button {
    margin-right: 20px;
    padding: 0;
    background: transparent;
    border: none;
    transition: 0.3s;
}

.header_search-button:hover {
    filter: brightness(1.1);
}

.header_search-button:active {
    filter: brightness(1.2);
}

.header_nav-ul {
    display: flex;
}

.header_nav-li {
    margin-right: 35px;
}

.header_nav-li-a, .header_nav-li-a:visited {
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    text-decoration: none;
    transition: 0.3s;
}

.header_nav-li-a:hover {
    color: #33da7a
}

.header_nav-li-a:active {
    color: #8dffbc;
    transition: 0.1ms;
}

.header_button-button {    
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #fffcfa;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    transition: 0.3s;
}

.header_button-button:hover {
    border: 1px solid #33da7a;
    color: #33da7a;
}

.header_button-button:active {
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

/* Sec-1 */

.section-1 {
    position: relative;
    z-index: 2;

    background-image: url('../img/bg_top.svg'), linear-gradient(to right, #f77757, #ff8449, #ff9339, #ffa325, #ffb500);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: initial;
}

.section-1_container {
    max-width: 1410px;
    min-height: 625px;
    padding: 140px 15px 0 15px;
    margin: 0 auto;

    background-image: url('../img/girl_eraser.svg'), url('../img/girl.png'); 
    background-repeat: no-repeat;
    background-position: right bottom, 95% 65%;
    background-size: initial;
}

.offer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: auto;
}

.offer_text-wrap {
    width: 59%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.offer_text {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.offer_text-title {
    padding-top: 55px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #fffcfa;
}

.offer_text-title_discount {
    font-size: 105px;
    font-weight: 600;
    text-shadow: 0px 0px 15px #ffb70050;
    position: absolute;
    right: 0;
}

@supports (-webkit-text-stroke: 3px #ffb500) {
    .offer_text-title_discount {
      -webkit-text-stroke: 3px #ffb500;
      -webkit-text-fill-color: transparent;
    }
}

.offer_text-descr {
    max-width: 341px;
    margin: 25px 0 38px 0;
    font-size: 18px;
    line-height: 22px;
    color: #fffcfa;
}

.offer_button-button {   
    min-width: 200px;
    min-height: 56px; 
    background: #49ba79;
    border: 1px solid #49ba79;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    transition: 0.3s;
}

.offer_button-button:hover {
    background: transparent;
    border: 1px solid #33da7a;
    color: #33da7a;
}

.offer_button-button:active {
    background: #8dffbd2c;
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

.offer_img {
    width: 40%;
    z-index: 5;
}

/* Section-2 */

.section-2 {
    z-index: 5;
}

.section-2::before {
    content: " ";
    display: block;
    width: 100%;
    height: 82%;
    background: #fffcfa url('../img/bg.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    position: absolute;
    top: 18.9%;
    z-index: 3;
}

.section-2_container {
    max-width: 1410px;
    min-height: 970px;
    padding: 50px 15px 0 15px;
    margin: 0 auto;
}

.why_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;    
    margin-bottom: 60px;
    position: relative;
    z-index: 5;
}

.why-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: auto;
}

.why_text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}

.why_text_item {
    max-width: 350px;
    padding-left: 33px;
    padding-bottom: 60px;
    position: relative;
    z-index: auto;
}

.why_text_item-title {
    padding: 40px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
    z-index: 10;
}

.why_text_item-body {
    font-size: 18px;
    line-height: 22px;
    z-index: 10;
}

.why_text_item-num {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.why_circles {
    width: 60%;
    position: relative;
    z-index: 5;
}

.why_circles-item_img {
    border-radius: 50%;
}

.why_circles-item-1, 
.why_circles-item-2, 
.why_circles-item-3,
.why_circles-item-4,
.why_circles-item-5 {
    position: absolute;
}

.why_circles-item-1 {
    top: 0%;
    left: 20%;
}

.why_circles-item-2 {
    left: 43%;
    top: 2%;
}

.why_circles-item-3 {
    left: 8%;
    top: 29%;
}

.why_circles-item-4 {
    left: 50%;
    top: 43%
}

.why_circles-item-5 {
    left: 19%;
    top: 76%
}

/* Sec-3 */ 

.section-3 {
    background: #fff;
    position: relative;
    z-index: 5;
}

.section-3_container {
    max-width: 1410px;
    min-height: 213px;
    padding: 0 15px;
    margin: 0 auto;
}

.mailing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailing_text {
    width: 62%;
    display: flex;
    justify-content: flex-end;
}

.mailing_text-title {
    max-width: 800px;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    padding-right: 40px;
}

.mailing_button-button {   
    min-width: 237px;
    min-height: 52px; 
    background: #49ba79;
    border: 1px solid #49ba79;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    color: #fffcfa;
    transition: 0.3s;
}

.mailing_button-button:hover {
    background: transparent;
    border: 1px solid #33da7a;
    color: #33da7a;
}

.mailing_button-button:active {
    background: #8dffbd2c;
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

/* Sec-4 */ 

.section-4 {
    position: relative;
    z-index: 5;
}

.section-4_container {
    max-width: 1410px;
    min-height: 710px;
    padding: 0 15px;
    margin: 0 auto;
}

.teachers_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-top: 73px;
    margin-bottom: 65px;
}

.teachers-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teachers_card {
    width: 40%;
    display: flex;
    justify-content: center;
}

.teachers_card_img-img {
    border-radius: 50%;
}

.teachers_card_cred {
    max-width: 260px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.teachers_card-3, .teachers_card-4 {
    margin-top: 84px;
}

.teachers_card_cred-name {
    font-size: 21px;
    font-weight: 700;
    color: #49ba79;
    margin-bottom: 5px;
}

.teachers_card_cred-exp {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.teachers_card_cred-body {
    font-size: 15px;
    font-weight: 400;
    line-height: 18.3px;
    margin-bottom: 12px;
}

.teachers_card_socials-item, .teachers_card_socials-item:visited {
    font-size: 24px;
    color: #49ba79;
    margin-right: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.teachers_card_socials-item:hover {
    filter: brightness(1.1);
}

.teachers_card_socials-item:active {
    filter: brightness(1.2);    
    transition: 0.1ms;
}

/* Sec-5 */ 

.section-5 {
    position: relative;
    z-index: 5;
}

.section-5_container {
    width: 82%;
    max-width: 1410px;
    min-height: 850px;
    padding: 0 15px;
    margin: 0 auto;
}

.works_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}

.works-wrap {
    display: flex;
    justify-content: center;
}

.works_item {
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    transition: 0.9s;
}

.works_item-img {
    background: white;
    border-radius: 3px 3px 0 0;
    transition: 0.9s;
}

.works_item-cred {
    min-height: 80px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 0 0 3px 3px;
}

.works_item-cred_img {
    margin-left: 25px;
}

.works_item-cred_img-img {
    border-radius: 50%;
}

.works_item-cred_text {
    margin-left: 15px;
}

.works_item-cred_text-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.works_item-cred_text-pupil_dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: black;
    margin: 5px;
}

.works_item-cred_text-pupil {
    font-size: 18px;
    font-weight: 400;
}

/* Owl Carousel - Large central item */ 

.center .works_item {
    width: 400px;
    height: 603px;
}

.works-wrap .center .works_item-img {
    width: 400px;
    height: 493px;
    margin-top: 0;
    filter: opacity(1);
}

.active .works_item-img {
    filter: opacity(0.7);
}

.owl-item .works_item-img {
    margin-top: 35px;
}

/* Owl Carousel - Nav */ 

.owl-prev span, .owl-next span {
    height: 200px;
    font-size: 120px;
    color: transparent;
    position: absolute;
    top: 33%;
    transition: 0.3s;
}

.owl-prev span {
    left: -6%;
}

.owl-next span {
    right: -6%;
}

.owl-prev span:before {
    content: "-";
    color: transparent;
    background: url('../img/arrow-prev.svg') center no-repeat;
    background-size: 100%;
}

.owl-next span:after {
    content: "-";
    color: transparent;
    background: url('../img/arrow-next.svg') center no-repeat;
    background-size: 100%;
}

.owl-prev span:hover, .owl-next span:hover {
    font-size: 140px;
    background-size: 103%;
    filter: brightness(1.1);
}

.owl-prev span:active, .owl-next span:active {
    font-size: 160px;
    background-size: 106%;
    filter: brightness(1.2);
}

.works-wrap .owl-carousel .owl-stage-outer {
    z-index: 10 !important;
}

/* Owl Carousel - Dots */ 

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #49ba79;
    border-radius: 8px;
    background: transparent;
    margin: 5px;
    transition: 0.5s;
}

.works-wrap .owl-dots .active span {
    display: inline-block;
    width: 75px;
    height: 15px;
    border: 1px solid #49ba79;
    border-radius: 8px;
    background: #49ba79;
    margin: 5px;
    transition: 0.5s;

}

/* Footer */ 

.footer {
    position: relative;
    z-index: 5;
}

.footer_container {
    max-width: 1080px;
    min-height: 310px;
    padding: 90px 15px 0 15px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    border-top: 2px solid rgba(73, 186, 120, 0.6);
}

.footer-group {
    display: flex;
    flex-direction: column;
}

.footer_titles {
    font-size: 24px;
    font-weight: 600;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.footer_contacts-line {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.footer_contacts-line_icon, .footer_contacts-line_icon:visited {
    font-size: 27px;
    color: #49ba79;
    padding-right: 12px;
    text-decoration: none;
}

.footer_contacts-line_icon:hover {
    filter: brightness(1.1);
}

.footer_contacts-line_icon:active {
    filter: brightness(1.2); 
}

.footer_contacts-line_text, .footer_contacts-line_text:visited {
    color: black;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: 1s;
}

.footer_contacts-line_text:hover {
    text-decoration: underline;
}

.footer_contacts-line_text:active {
    text-decoration: none;
    transition: 0.1ms;
}

.footer_socials {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.footer_socials-line {
    display: flex;
    padding-top: 20px;

}

.footer_socials-line_icon, .footer_socials-line_icon:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 44px;
    height: 44px;
    margin-right: 18px;
    border-radius: 50%;
    background-color: #49ba79;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}

.footer_socials-line_icon:hover {
    filter: brightness(1.1);
}

.footer_socials-line_icon:active {
    filter: brightness(1.2);
    transition: 0.1ms;
}

.footer_questions {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.questions_title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.questions_form-element {
    min-width: 160px;
    min-height: 45px;
    border: 1px solid #49ba79;
    border-radius: 30px;
    margin-bottom: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.questions_form-input {
    width: 90%;
    min-width: 150px;
    min-height: 30px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
}

.questions_form-element_submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions_form-input_submit {
    min-width: 240px;
    min-height: 52px; 
    background: #49ba79;
    border: 1px solid #49ba79;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #fffcfa;
    transition: 0.3s;
}

.questions_form-input_submit:hover {
    background: transparent;
    border: 1px solid #33da7a;
    color: #33da7a;
}

.questions_form-input_submit:active {
    background: #8dffbd2c;
    border: 1px solid #8dffbc;
    color: #8dffbc;
    transition: 0.1ms;
}

























/* Styles for Responsivness */

/* Header */

#checkbox_toggle {
    display: none;
}

@media all and (max-width: 1000px) {
    .header_nav {
        width: 100%;
        height: 100vh;
        margin-top: -45px;
        background: rgba(255, 241, 165, 0.7);
        transition: all 1s cubic-bezier(.325, 1, .22, 1);
        backdrop-filter: blur(5px);
        position: absolute;
        z-index: 40;
        left: -100%;
    }

    .header_nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header_nav-li-a, .header_nav-li-a:visited {
        line-height: 12vh;
        color: rgb(221, 26, 0);
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        margin-right: 0px;
        border-bottom: transparent;
    }

    .header_nav-li-a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 1);
        border-bottom: transparent;
    }

    .header_nav-li-a:active {
        background-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.6);
    }

    .header_nav-li-a {
        margin-right: 0px;
        padding: 0;
    }

    .header_nav-li {
        width: 100%;
        margin-right: 0px;
    }

    .header_nav-li_first {
        margin-top: 80px;
    }
        
    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked ~ .header_nav {
        position: absolute;
        left: 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        -webkit-transition: all 1s cubic-bezier(.19, 1, .22, 1);
        -o-transition: all 1s cubic-bezier(.19, 1, .22, 1);
        transition: all 1s cubic-bezier(.19, 1, .22, 1);
    }

    .line {
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background: #fffcfa;
        position: absolute;
        left: 0;
        z-index: 50;
        -webkit-transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
        -o-transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
        transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
    }

    .line-1 {
        top: 0;
    }

    .line-2 {
        top: 10px;
    }

    .line-3 {
        top: 20px;
    }

    input[type=checkbox]:checked ~ label .line-1 {
        top: 0px;
        width: 35px;
        -webkit-transform: translateX(-11px) rotate(-45deg) translateY(12px);
            -ms-transform: translateX(-11px) rotate(-45deg) translateY(12px);
                transform: translateX(-11px) rotate(-45deg) translateY(12px);
    }

    input[type=checkbox]:checked ~ label .line-2 {
        opacity: 0;
    }

    input[type=checkbox]:checked ~ label .line-3 {
        top: 14px;
        width: 35px;
        -webkit-transform: translateX(-8px) rotate(45deg) translateY(-8px);
            -ms-transform: translateX(-8px) rotate(45deg) translateY(-8px);
                transform: translateX(-8px) rotate(45deg) translateY(-8px);
    }

    .header_button {
        margin-right: 10%;
    }
}